<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kanban.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="RedmineConnectionString" value="http://localhost" />
  </appSettings>
  <userSettings>
    <Kanban.Desktop.Properties.Settings>
      <setting name="h_status_v_assigned_c_subject_treker_details"
        serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;KanbanConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ProjectId&gt;12&lt;/ProjectId&gt;
  &lt;HorizontalDimension&gt;
    &lt;DimensionName&gt;Status&lt;/DimensionName&gt;
  &lt;/HorizontalDimension&gt;
  &lt;VerticalDimension&gt;
    &lt;DimensionName&gt;AssignedTo&lt;/DimensionName&gt;
  &lt;/VerticalDimension&gt;
  &lt;CardsItemsConfiguration&gt;
    &lt;CardsItems&gt;
        &lt;CardItem&gt;
          &lt;Area&gt;Main&lt;/Area&gt;
          &lt;Path&gt;Subject&lt;/Path&gt;
        &lt;/CardItem&gt;
        &lt;CardItem&gt;
          &lt;Path&gt;Tracker&lt;/Path&gt;
        &lt;/CardItem&gt;
        &lt;CardItem&gt;
          &lt;Path&gt;Priority&lt;/Path&gt;
        &lt;/CardItem&gt;
        &lt;CardItem&gt;
          &lt;Area&gt;Additional&lt;/Area&gt;
          &lt;Path&gt;Description&lt;/Path&gt;
        &lt;/CardItem&gt;
    &lt;/CardsItems&gt;
  &lt;/CardsItemsConfiguration&gt;
&lt;/KanbanConfiguration&gt;</value>
      </setting>
    </Kanban.Desktop.Properties.Settings>
  </userSettings>
</configuration>