<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kanban.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="RedmineConnectionString" value="http://localhost:3000" />
  </appSettings>
  <userSettings>
    <Kanban.Desktop.Properties.Settings>
      <setting name="h_status_v_assigned_c_subject_treker_details"
        serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;KanbanConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ProjectId&gt;12&lt;/ProjectId&gt;
  &lt;HorizontalDimension&gt;
    &lt;DimensionName&gt;Status.Name&lt;/DimensionName&gt;
    &lt;SortingPath&gt;Status.Id&lt;/SortingPath&gt;
  &lt;/HorizontalDimension&gt;
  &lt;VerticalDimension&gt;
    &lt;DimensionName&gt;AssignedTo.Name&lt;/DimensionName&gt;
  &lt;/VerticalDimension&gt;
  &lt;CardItemsConfiguration&gt;
    &lt;CardsItems&gt;
        &lt;CardItem&gt;
          &lt;Area&gt;Main&lt;/Area&gt;
          &lt;Path&gt;Subject&lt;/Path&gt;
        &lt;/CardItem&gt;
        &lt;CardItem&gt;
          &lt;Area&gt;Short&lt;/Area&gt;
          &lt;Path&gt;Tracker&lt;/Path&gt;
        &lt;/CardItem&gt;
        &lt;CardItem&gt;
          &lt;Area&gt;Short&lt;/Area&gt;
          &lt;Path&gt;Priority&lt;/Path&gt;
        &lt;/CardItem&gt;
        &lt;CardItem&gt;
          &lt;Area&gt;Additional&lt;/Area&gt;
          &lt;Path&gt;Description&lt;/Path&gt;
        &lt;/CardItem&gt;
    &lt;/CardsItems&gt;
    &lt;ColorSettings&gt;
      &lt;Path&gt;Priority.Name&lt;/Path&gt;
      &lt;ColorMaps&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;Низкий&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#7DBB00&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#DCFFC2&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;Нормальный&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#FFB13B&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#FFE7B6&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;Высокий&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#FF8099&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#FFCCD6&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;low&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#7DBB00&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#DCFFC2&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;normal&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#FFB13B&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#FFE7B6&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;high&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#FF8099&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#FFCCD6&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
      &lt;/ColorMaps&gt;
    &lt;/ColorSettings&gt;
  &lt;/CardItemsConfiguration&gt;
&lt;/KanbanConfiguration&gt;</value>
      </setting>
      <setting name="ods" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;KanbanConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ProjectId&gt;18&lt;/ProjectId&gt;
  &lt;HorizontalDimension&gt;
    &lt;DimensionName&gt;Status.Name&lt;/DimensionName&gt;
    &lt;SortingPath&gt;Status.Id&lt;/SortingPath&gt;
    &lt;ValuesFilter&gt;
      &lt;string&gt;Новая&lt;/string&gt;
      &lt;string&gt;В процессе&lt;/string&gt;
      &lt;string&gt;Решена&lt;/string&gt;
    &lt;/ValuesFilter&gt;
  &lt;/HorizontalDimension&gt;
  &lt;VerticalDimension&gt;
    &lt;DimensionName&gt;Tracker.Name&lt;/DimensionName&gt;
    &lt;ValuesFilter&gt;
      &lt;string&gt;Входящий вызов&lt;/string&gt;
      &lt;string&gt;Исходящий вызов&lt;/string&gt;
    &lt;/ValuesFilter&gt;    
  &lt;/VerticalDimension&gt;
  &lt;CardItemsConfiguration&gt;
    &lt;CardsItems&gt;
        &lt;CardItem&gt;
          &lt;Area&gt;Main&lt;/Area&gt;
          &lt;Path&gt;Subject&lt;/Path&gt;
        &lt;/CardItem&gt;
    &lt;/CardsItems&gt;
    &lt;ColorSettings&gt;
      &lt;Path&gt;Priority.Name&lt;/Path&gt;
      &lt;ColorMaps&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;Низкий&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#7DBB00&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#DCFFC2&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;Нормальный&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#FFB13B&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#FFE7B6&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;Высокий&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#FF8099&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#FFCCD6&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;Срочный&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#C69CF3&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#E2D2F2&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;low&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#7DBB00&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#DCFFC2&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;normal&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#FFB13B&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#FFE7B6&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
        &lt;ColorMap&gt;
          &lt;Value&gt;high&lt;/Value&gt;
          &lt;CardColors&gt;
            &lt;BorderColor&gt;#FF8099&lt;/BorderColor&gt;
            &lt;BackgroundColor&gt;#FFCCD6&lt;/BackgroundColor&gt;
          &lt;/CardColors&gt;
        &lt;/ColorMap&gt;
      &lt;/ColorMaps&gt;
    &lt;/ColorSettings&gt;
  &lt;/CardItemsConfiguration&gt;
&lt;/KanbanConfiguration&gt;</value>
      </setting>
    </Kanban.Desktop.Properties.Settings>
  </userSettings>
</configuration>